OSBLEPlus/branches/osble_plus_v1_0/OSBLEExcelPlugin/Service References/OSBLEAuthService/AuthenticationService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSBLE.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSBLE.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="School">
    <xs:sequence>
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="School" nillable="true" type="tns:School" />
</xs:schema>