trunk/web/Rubric/Service References/OsbleServices/RubricService34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments.Activities" />
  <xs:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Courses" />
  <xs:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Courses.Rubrics" />
  <xs:complexType name="AbstractAssignment">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments.Activities" minOccurs="0" name="AssignmentActivities" nillable="true" type="q1:ArrayOfAbstractAssignmentActivity" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OSBLE.Models.Courses" minOccurs="0" name="Category" nillable="true" type="q2:Category" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="ColumnOrder" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDraft" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointsPossible" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OSBLE.Models.Courses.Rubrics" minOccurs="0" name="Rubric" nillable="true" type="q3:Rubric" />
      <xs:element minOccurs="0" name="RubricID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractAssignment" nillable="true" type="tns:AbstractAssignment" />
  <xs:complexType name="ArrayOfAbstractAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbstractAssignment" nillable="true" type="tns:AbstractAssignment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbstractAssignment" nillable="true" type="tns:ArrayOfAbstractAssignment" />
</xs:schema>