trunk/web/Rubric/Service References/OsbleServices/RubricService35.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSBLE.Models.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models" />
  <xs:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments.Activities.Scores" />
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanCreateCourses" type="xs:boolean" />
      <xs:element minOccurs="0" name="DefaultCourse" type="xs:int" />
      <xs:element minOccurs="0" name="EmailAllActivityPosts" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmailAllNotifications" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Identification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OSBLE.Models" minOccurs="0" name="School" nillable="true" type="q1:School" />
      <xs:element minOccurs="0" name="SchoolID" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments.Activities.Scores" minOccurs="0" name="Scores" nillable="true" type="q2:ArrayOfScore" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="ArrayOfTeamUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeamUser" nillable="true" type="tns:TeamUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeamUser" nillable="true" type="tns:ArrayOfTeamUser" />
  <xs:complexType name="TeamUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Team" nillable="true" type="tns:Team" />
      <xs:element minOccurs="0" name="TeamID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TeamOrUser" type="xs:int" />
      <xs:element minOccurs="0" name="UserProfile" nillable="true" type="tns:UserProfile" />
      <xs:element minOccurs="0" name="UserProfileID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamUser" nillable="true" type="tns:TeamUser" />
  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Members" nillable="true" type="tns:ArrayOfTeamUser" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
</xs:schema>