trunk/web/Rubric/Service References/OsbleServices/RubricService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Courses.Rubrics" />
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Courses" />
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.HomePage" />
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Users" />
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models" />
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments.Activities.Scores" />
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments.Activities" />
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments" />
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Rubric" />
      <xsd:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RubricService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="RubricService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetFakeCellDescription_InputMessage">
    <wsdl:part name="parameters" element="GetFakeCellDescription" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetFakeCellDescription_OutputMessage">
    <wsdl:part name="parameters" element="GetFakeCellDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetFakeCriterion_InputMessage">
    <wsdl:part name="parameters" element="GetFakeCriterion" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetFakeCriterion_OutputMessage">
    <wsdl:part name="parameters" element="GetFakeCriterionResponse" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetFakeLevel_InputMessage">
    <wsdl:part name="parameters" element="GetFakeLevel" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetFakeLevel_OutputMessage">
    <wsdl:part name="parameters" element="GetFakeLevelResponse" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetFakeRubric_InputMessage">
    <wsdl:part name="parameters" element="GetFakeRubric" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetFakeRubric_OutputMessage">
    <wsdl:part name="parameters" element="GetFakeRubricResponse" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetCourses_InputMessage">
    <wsdl:part name="parameters" element="GetCourses" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetCourses_OutputMessage">
    <wsdl:part name="parameters" element="GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetRubricsForCourse_InputMessage">
    <wsdl:part name="parameters" element="GetRubricsForCourse" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetRubricsForCourse_OutputMessage">
    <wsdl:part name="parameters" element="GetRubricsForCourseResponse" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetRubricList_InputMessage">
    <wsdl:part name="parameters" element="GetRubricList" />
  </wsdl:message>
  <wsdl:message name="RubricService_GetRubricList_OutputMessage">
    <wsdl:part name="parameters" element="GetRubricListResponse" />
  </wsdl:message>
  <wsdl:message name="RubricService_SaveRubric_InputMessage">
    <wsdl:part name="parameters" element="SaveRubric" />
  </wsdl:message>
  <wsdl:message name="RubricService_SaveRubric_OutputMessage">
    <wsdl:part name="parameters" element="SaveRubricResponse" />
  </wsdl:message>
  <wsdl:portType name="RubricService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:RubricService/DoWork" message="RubricService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:RubricService/DoWorkResponse" message="RubricService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFakeCellDescription">
      <wsdl:input wsaw:Action="urn:RubricService/GetFakeCellDescription" message="RubricService_GetFakeCellDescription_InputMessage" />
      <wsdl:output wsaw:Action="urn:RubricService/GetFakeCellDescriptionResponse" message="RubricService_GetFakeCellDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFakeCriterion">
      <wsdl:input wsaw:Action="urn:RubricService/GetFakeCriterion" message="RubricService_GetFakeCriterion_InputMessage" />
      <wsdl:output wsaw:Action="urn:RubricService/GetFakeCriterionResponse" message="RubricService_GetFakeCriterion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFakeLevel">
      <wsdl:input wsaw:Action="urn:RubricService/GetFakeLevel" message="RubricService_GetFakeLevel_InputMessage" />
      <wsdl:output wsaw:Action="urn:RubricService/GetFakeLevelResponse" message="RubricService_GetFakeLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFakeRubric">
      <wsdl:input wsaw:Action="urn:RubricService/GetFakeRubric" message="RubricService_GetFakeRubric_InputMessage" />
      <wsdl:output wsaw:Action="urn:RubricService/GetFakeRubricResponse" message="RubricService_GetFakeRubric_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <wsdl:input wsaw:Action="urn:RubricService/GetCourses" message="RubricService_GetCourses_InputMessage" />
      <wsdl:output wsaw:Action="urn:RubricService/GetCoursesResponse" message="RubricService_GetCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRubricsForCourse">
      <wsdl:input wsaw:Action="urn:RubricService/GetRubricsForCourse" message="RubricService_GetRubricsForCourse_InputMessage" />
      <wsdl:output wsaw:Action="urn:RubricService/GetRubricsForCourseResponse" message="RubricService_GetRubricsForCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRubricList">
      <wsdl:input wsaw:Action="urn:RubricService/GetRubricList" message="RubricService_GetRubricList_InputMessage" />
      <wsdl:output wsaw:Action="urn:RubricService/GetRubricListResponse" message="RubricService_GetRubricList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveRubric">
      <wsdl:input wsaw:Action="urn:RubricService/SaveRubric" message="RubricService_SaveRubric_InputMessage" />
      <wsdl:output wsaw:Action="urn:RubricService/SaveRubricResponse" message="RubricService_SaveRubric_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>