trunk/web/Rubric/Service References/OsbleServices/RubricService33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Rubric" />
  <xs:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Courses.Rubrics" />
  <xs:complexType name="ArrayOfKeyValueOfSimpleCourseArrayOfRubricCzkHZrLf">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfSimpleCourseArrayOfRubricCzkHZrLf">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Rubric" name="Key" nillable="true" type="q1:SimpleCourse" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OSBLE.Models.Courses.Rubrics" name="Value" nillable="true" type="q2:ArrayOfRubric" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfSimpleCourseArrayOfRubricCzkHZrLf" nillable="true" type="tns:ArrayOfKeyValueOfSimpleCourseArrayOfRubricCzkHZrLf" />
</xs:schema>