trunk/web/Rubric/Service References/OsbleServices/RubricService38.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Rubric" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Rubric" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SimpleCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleCourse" nillable="true" type="tns:SimpleCourse" />
</xs:schema>