trunk/web/OSBLE.UnitTests/Service References/OsbleService/OsbleService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSBLE.Models.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17532/Services/OsbleService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models" />
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanCreateCourses" type="xs:boolean" />
      <xs:element minOccurs="0" name="DefaultCourse" type="xs:int" />
      <xs:element minOccurs="0" name="EmailAllActivityPosts" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmailAllNotifications" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Identification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OSBLE.Models" minOccurs="0" name="School" nillable="true" type="q1:School" />
      <xs:element minOccurs="0" name="SchoolID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
</xs:schema>