trunk/silverlight/FileUploader/Service References/OsbleServices/UploaderWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17532/Services/UploaderWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Uploader" />
  <xs:element name="GetFakeFileListing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFakeFileListingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Uploader" minOccurs="0" name="GetFakeFileListingResult" nillable="true" type="q1:FileListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFakeDirectoryListing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFakeDirectoryListingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Uploader" minOccurs="0" name="GetFakeDirectoryListingResult" nillable="true" type="q2:DirectoryListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFakeParentDirectoryListing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFakeParentDirectoryListingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Uploader" minOccurs="0" name="GetFakeParentDirectoryListingResult" nillable="true" type="q3:ParentDirectoryListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relativepath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Uploader" minOccurs="0" name="GetFileListResult" nillable="true" type="q4:DirectoryListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepCurrentPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Uploader" minOccurs="0" name="fileList" nillable="true" type="q5:DirectoryListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepCurrentPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrepCurrentPathResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
