trunk/silverlight/FileUploader/Service References/OsbleServices/UploaderWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Uploader" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Uploader" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileListing">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractListing">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileListing" nillable="true" type="tns:FileListing" />
  <xs:complexType name="AbstractListing">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbsolutePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractListing" nillable="true" type="tns:AbstractListing" />
  <xs:complexType name="ParentDirectoryListing">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DirectoryListing">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParentDirectoryListing" nillable="true" type="tns:ParentDirectoryListing" />
  <xs:complexType name="DirectoryListing">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractListing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Directories" nillable="true" type="tns:ArrayOfDirectoryListing" />
          <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfFileListing" />
          <xs:element minOccurs="0" name="ParentDirectory" nillable="true" type="tns:DirectoryListing" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DirectoryListing" nillable="true" type="tns:DirectoryListing" />
  <xs:complexType name="ArrayOfDirectoryListing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectoryListing" nillable="true" type="tns:DirectoryListing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectoryListing" nillable="true" type="tns:ArrayOfDirectoryListing" />
  <xs:complexType name="ArrayOfFileListing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileListing" nillable="true" type="tns:FileListing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileListing" nillable="true" type="tns:ArrayOfFileListing" />
</xs:schema>