trunk/web/OsbleRubric/Service References/OsbleServices/RubricService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments.Activities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments.Activities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments" />
  <xs:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments.Activities.Scores" />
  <xs:import schemaLocation="http://localhost:17532/Services/RubricService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Users" />
  <xs:complexType name="AbstractAssignmentActivity">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments" minOccurs="0" name="AbstractAssignment" nillable="true" type="q1:AbstractAssignment" />
      <xs:element minOccurs="0" name="AbstractAssignmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ColumnOrder" type="xs:int" />
      <xs:element minOccurs="0" name="HoursLatePerPercentPenalty" type="xs:int" />
      <xs:element minOccurs="0" name="HoursLateUntilZero" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MinutesLateWithNoPenalty" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentPenalty" type="xs:int" />
      <xs:element minOccurs="0" name="PointsPossible" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OSBLE.Models.Assignments.Activities.Scores" minOccurs="0" name="Scores" nillable="true" type="q2:ArrayOfScore" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OSBLE.Models.Users" minOccurs="0" name="TeamUsers" nillable="true" type="q3:ArrayOfTeamUserMember" />
      <xs:element minOccurs="0" name="addedPoints" type="xs:double" />
      <xs:element minOccurs="0" name="isTeam" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractAssignmentActivity" nillable="true" type="tns:AbstractAssignmentActivity" />
  <xs:complexType name="ArrayOfAbstractAssignmentActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbstractAssignmentActivity" nillable="true" type="tns:AbstractAssignmentActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbstractAssignmentActivity" nillable="true" type="tns:ArrayOfAbstractAssignmentActivity" />
</xs:schema>