branches/KurtisSync/FileUploader/Service References/OsbleServices/FileSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:49409/FileSyncService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:49409/FileSyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49409/FileSyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileUploader.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileSyncService_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="GetFileList" />
  </wsdl:message>
  <wsdl:message name="FileSyncService_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="FileSyncService_GetFileUrl_InputMessage">
    <wsdl:part name="parameters" element="GetFileUrl" />
  </wsdl:message>
  <wsdl:message name="FileSyncService_GetFileUrl_OutputMessage">
    <wsdl:part name="parameters" element="GetFileUrlResponse" />
  </wsdl:message>
  <wsdl:message name="FileSyncService_SyncFile_InputMessage">
    <wsdl:part name="parameters" element="SyncFile" />
  </wsdl:message>
  <wsdl:message name="FileSyncService_SyncFile_OutputMessage">
    <wsdl:part name="parameters" element="SyncFileResponse" />
  </wsdl:message>
  <wsdl:message name="FileSyncService_createDir_InputMessage">
    <wsdl:part name="parameters" element="createDir" />
  </wsdl:message>
  <wsdl:message name="FileSyncService_createDir_OutputMessage">
    <wsdl:part name="parameters" element="createDirResponse" />
  </wsdl:message>
  <wsdl:portType name="FileSyncService">
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="urn:FileSyncService/GetFileList" message="FileSyncService_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="urn:FileSyncService/GetFileListResponse" message="FileSyncService_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileUrl">
      <wsdl:input wsaw:Action="urn:FileSyncService/GetFileUrl" message="FileSyncService_GetFileUrl_InputMessage" />
      <wsdl:output wsaw:Action="urn:FileSyncService/GetFileUrlResponse" message="FileSyncService_GetFileUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncFile">
      <wsdl:input wsaw:Action="urn:FileSyncService/SyncFile" message="FileSyncService_SyncFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:FileSyncService/SyncFileResponse" message="FileSyncService_SyncFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createDir">
      <wsdl:input wsaw:Action="urn:FileSyncService/createDir" message="FileSyncService_createDir_InputMessage" />
      <wsdl:output wsaw:Action="urn:FileSyncService/createDirResponse" message="FileSyncService_createDir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>