branches/KurtisSync/FileUploader/Service References/OsbleServices/FileSyncService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileUploader.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileUploader.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOsbleSyncInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OsbleSyncInfo" nillable="true" type="tns:OsbleSyncInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOsbleSyncInfo" nillable="true" type="tns:ArrayOfOsbleSyncInfo" />
  <xs:complexType name="OsbleSyncInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" type="xs:int" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OsbleSyncInfo" nillable="true" type="tns:OsbleSyncInfo" />
</xs:schema>