Service References/OsbleServices/UploaderWebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:17532/Services/UploaderWebService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:17532/Services/UploaderWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17532/Services/UploaderWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OSBLE.Models.Services.Uploader" />
      <xsd:import schemaLocation="http://localhost:17532/Services/UploaderWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UploaderWebService_GetFakeFileListing_InputMessage">
    <wsdl:part name="parameters" element="GetFakeFileListing" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_GetFakeFileListing_OutputMessage">
    <wsdl:part name="parameters" element="GetFakeFileListingResponse" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_GetFakeDirectoryListing_InputMessage">
    <wsdl:part name="parameters" element="GetFakeDirectoryListing" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_GetFakeDirectoryListing_OutputMessage">
    <wsdl:part name="parameters" element="GetFakeDirectoryListingResponse" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_GetFakeParentDirectoryListing_InputMessage">
    <wsdl:part name="parameters" element="GetFakeParentDirectoryListing" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_GetFakeParentDirectoryListing_OutputMessage">
    <wsdl:part name="parameters" element="GetFakeParentDirectoryListingResponse" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="GetFileList" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_GetFileUrl_InputMessage">
    <wsdl:part name="parameters" element="GetFileUrl" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_GetFileUrl_OutputMessage">
    <wsdl:part name="parameters" element="GetFileUrlResponse" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_GetValidUploadLocations_InputMessage">
    <wsdl:part name="parameters" element="GetValidUploadLocations" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_GetValidUploadLocations_OutputMessage">
    <wsdl:part name="parameters" element="GetValidUploadLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_SyncFile_InputMessage">
    <wsdl:part name="parameters" element="SyncFile" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_SyncFile_OutputMessage">
    <wsdl:part name="parameters" element="SyncFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_PrepCurrentPath_InputMessage">
    <wsdl:part name="parameters" element="PrepCurrentPath" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_PrepCurrentPath_OutputMessage">
    <wsdl:part name="parameters" element="PrepCurrentPathResponse" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_UpdateListingOrder_InputMessage">
    <wsdl:part name="parameters" element="UpdateListingOrder" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_UpdateListingOrder_OutputMessage">
    <wsdl:part name="parameters" element="UpdateListingOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="ValidateUser" />
  </wsdl:message>
  <wsdl:message name="UploaderWebService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="ValidateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="UploaderWebService">
    <wsdl:operation name="GetFakeFileListing">
      <wsdl:input wsaw:Action="urn:UploaderWebService/GetFakeFileListing" message="UploaderWebService_GetFakeFileListing_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderWebService/GetFakeFileListingResponse" message="UploaderWebService_GetFakeFileListing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFakeDirectoryListing">
      <wsdl:input wsaw:Action="urn:UploaderWebService/GetFakeDirectoryListing" message="UploaderWebService_GetFakeDirectoryListing_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderWebService/GetFakeDirectoryListingResponse" message="UploaderWebService_GetFakeDirectoryListing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFakeParentDirectoryListing">
      <wsdl:input wsaw:Action="urn:UploaderWebService/GetFakeParentDirectoryListing" message="UploaderWebService_GetFakeParentDirectoryListing_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderWebService/GetFakeParentDirectoryListingResponse" message="UploaderWebService_GetFakeParentDirectoryListing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="urn:UploaderWebService/GetFileList" message="UploaderWebService_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderWebService/GetFileListResponse" message="UploaderWebService_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileUrl">
      <wsdl:input wsaw:Action="urn:UploaderWebService/GetFileUrl" message="UploaderWebService_GetFileUrl_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderWebService/GetFileUrlResponse" message="UploaderWebService_GetFileUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidUploadLocations">
      <wsdl:input wsaw:Action="urn:UploaderWebService/GetValidUploadLocations" message="UploaderWebService_GetValidUploadLocations_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderWebService/GetValidUploadLocationsResponse" message="UploaderWebService_GetValidUploadLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncFile">
      <wsdl:input wsaw:Action="urn:UploaderWebService/SyncFile" message="UploaderWebService_SyncFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderWebService/SyncFileResponse" message="UploaderWebService_SyncFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrepCurrentPath">
      <wsdl:input wsaw:Action="urn:UploaderWebService/PrepCurrentPath" message="UploaderWebService_PrepCurrentPath_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderWebService/PrepCurrentPathResponse" message="UploaderWebService_PrepCurrentPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateListingOrder">
      <wsdl:input wsaw:Action="urn:UploaderWebService/UpdateListingOrder" message="UploaderWebService_UpdateListingOrder_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderWebService/UpdateListingOrderResponse" message="UploaderWebService_UpdateListingOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="urn:UploaderWebService/ValidateUser" message="UploaderWebService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderWebService/ValidateUserResponse" message="UploaderWebService_ValidateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>