branches/sl_uploader/sl_uploader/Service References/OsbleServices/UploaderFileService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1114/UploaderFileService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1114/UploaderFileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1114/UploaderFileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/sl_uploader.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UploaderFileService_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="GetFileList" />
  </wsdl:message>
  <wsdl:message name="UploaderFileService_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="UploaderFileService_GetFileUrl_InputMessage">
    <wsdl:part name="parameters" element="GetFileUrl" />
  </wsdl:message>
  <wsdl:message name="UploaderFileService_GetFileUrl_OutputMessage">
    <wsdl:part name="parameters" element="GetFileUrlResponse" />
  </wsdl:message>
  <wsdl:message name="UploaderFileService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploaderFileService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="UploadFileResponse" />
  </wsdl:message>
  <wsdl:portType name="UploaderFileService">
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="urn:UploaderFileService/GetFileList" message="UploaderFileService_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderFileService/GetFileListResponse" message="UploaderFileService_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileUrl">
      <wsdl:input wsaw:Action="urn:UploaderFileService/GetFileUrl" message="UploaderFileService_GetFileUrl_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderFileService/GetFileUrlResponse" message="UploaderFileService_GetFileUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="urn:UploaderFileService/UploadFile" message="UploaderFileService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:UploaderFileService/UploadFileResponse" message="UploaderFileService_UploadFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>