branches/sl_uploader/sl_uploader/Service References/OsbleServices/UploaderFileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/sl_uploader.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/sl_uploader.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOsbleFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OsbleFileInfo" nillable="true" type="tns:OsbleFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOsbleFileInfo" nillable="true" type="tns:ArrayOfOsbleFileInfo" />
  <xs:complexType name="OsbleFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OsbleFileInfo" nillable="true" type="tns:OsbleFileInfo" />
</xs:schema>